@font-face {
	  font-family: 'Messapia';
	  src: url(../font/messapia-bold.woff2);
	}
	
@keyframes intro-box {
	0% {
		background-color: #fff;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes grow-box {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		width: 360px;
		height: 360px;
	}
	100% {
		width: 100%;
		height: 100%;
		border-color: transparent;
	}
}

@keyframes showImage {
	0% {
		opacity: 0;
		transform: translate(0, 24px) scale(0.95);
		clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
	} 
	100% {
		opacity: 1;
		transform: translate(0, 0) scale(1);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

body {
	  font-family: 'Messapia';
	  font-size: 16px;
	  line-height: 1.25;
	  text-transform: uppercase;
	  background-color: #fff;
	}
	
div.intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	pointer-events: none;
	z-index: 10;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	animation: intro-box 1s 4s both;
}

div.intro div.box {
	width: 360px;
	height: 360px;
	padding: 24px;
	border: 1px solid #000;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	animation: grow-box 3s 2s both;
}

div.intro div.box div.column {
	display: flex;
	justify-content: space-between;
}

section {
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: mediumspringgreen;
	
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

section.alternate {
	background-color: plum;
}

figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 120px;
	text-align: center;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	perspective: 800px;
}

figure div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

figure img {
	max-height: 100%;
}

figcaption {
	position: fixed;
	top: 70%;
	left: 50%;
	color: #fff;
	width: 100%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

section.alternate figcaption {
	color: orangered;
}

h1 {
	font-size: 120px;
}

p {
	font-size: 48px;
}

@media (prefers-reduced-motion: no-preference) {
	section.in-view img {
		animation: showImage 0.8s 0.4s both cubic-bezier(0.68,-0.55,0.27,1.55);
	}	
}

@media (prefers-reduced-motion: no-preference) and (min-width: 900px) {
	html, body {
		height: 100%;
		overflow: hidden;
	}
	
	main {
		height: 100vh;
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}
	
	section {
		scroll-snap-align: start;
	}
}

@media (max-width: 640px) {
	
	h1 {
		font-size: 64px;
	}
	
	p {
		font-size: 18px;
	}
	
	figure {
		padding: 48px;
	}

}